.header {
    font-size: 25px;
    margin-bottom: 50px;
    margin-left: 100px;
}
.left{
    margin-left: 20px;
    width: 40%; 
    float:left;
    height: 200px;
}
.right{
    margin-right: 20%;
    width: 30%; 
    float:right;
}
.innerlist{
    float:left;
    margin-left: 5%
    text-align: left;
}
img{
    width: 30%;
    height: auto;
}